@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --salmon : #EF9D71;
    --white: #fff;
    --dark : #000;
    --cyan : #AEDEE0;
    --dcyan: #1f3435;
    --lsalmon:rgb(255, 149, 138);
    --dsalmon:rgb(52, 33, 31);
}
*::selection{
    background-color: var(--lsalmon);
}
.vdodiv{
    clip-path: circle(var(--clip) at 50% 50%);
}

@font-face {
    font-family: "Machina";
    src: url("./assets/fonts/NeueMachina-Light.otf"),
        url("./assets/fonts/NeueMachina-Regular.otf"),
        url("./assets/fonts/NeueMachina-Ultrabold.otf");
}
.abs-center{
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}

body{
    transition: background-color ease-in-out 0.5s;
}

body[theme="dark"]{
    background-color: var(--dark);
}

body[theme="dark"] .section{
    color: var(--white);
}

body[theme="salmon"]{
    background-color:var(--salmon);
}

body[theme="salmon"] .section{
    color:var(--dsalmon)
}
body[theme="cyan"]{
    background-color:var(--cyan);
}

body[theme="cyan"] .section{
    color:var(--dcyan);
}

body[theme="light"]{
    background-color: var(--white);
}
body[theme="light"] .section{
    color: var(--dark);
}

.textpara span{
    word-wrap: break-word;
    opacity: 0.1;
}